 // MIXINS DEFINITION

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after { 
    clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/**
	Backgrounds
**/

 @mixin bg-pos($x, $y){
  background-position: $x + px $y + px;
}
/**
	Take a PX font size value et output in PX for IE8 and lower and in REM for modern browsers.
**/
$baseFontSize : 16;
@mixin font-size ($pxSizeValue){
  $remValue: ($pxSizeValue / $baseFontSize);
  font-size: $pxSizeValue + px;
  font-size: $remValue + rem;
}
 @mixin rem-height ($pxSize) {
  $remValue: ($pxSize / $baseFontSize);
  height: $pxSizeValue + px;
  height: $remValue + rem;
}
 @mixin rem-min-height ($pxSize) {
  $remValue: ($pxSize / $baseFontSize);
  min-height: $pxSizeValue + px;
  min-height: $remValue + rem;
}
 @mixin rem-max-height ($pxSize) {
  $remValue: ($pxSize / $baseFontSize);
  max-height: $pxSizeValue + px;
  max-height: $remValue + rem;
}
 @mixin rem-line-height ($pxSize) {
  $remValue: ($pxSize / $baseFontSize);
  line-height: $pxSizeValue + px;
  line-height: $remValue + rem;
}

/***
	IE < 9 Stuffs
***/
.inline-block {
	display:inline-block;
	*display:inline;
	*zoom:1;
}



.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}

.fleft{float:left;}
.fright{float:right;}

// Placeholder text
// -------------------------
 @mixin placeholder($color: $placeholderText) {
  :-moz-placeholder {
    color: $color;
  }
  ::-webkit-input-placeholder {
    color: $color;
  }
}


// Webkit-style focus
// ------------------
.tab-focus {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

